{% render 'partials/head.liquid' %}

    <div class="visite-kaartje"> 

      <img src="assets/IMG_2722.pdf" alt="">

      <header class="primary-info">
        <h1>{{ person.name }}</h1>
        <p><em>FDND student</em></p>
      </header>

      <div class="secondary-info">
        <p>Klik op een mapje om meer te zien ✨</p>
        <div class="btn-style">
          <a href="/studie" class="a-btn">Studie</a>
          <a href="/hobbies" class="a-btn">Hobbies</a>
          <a href="/vacay" class="a-btn">Vacay</a>
        </div>
      </div>
    </div> 

{% render 'partials/foot.liquid' %}
