{% render 'partials/head.liquid' %}

    <div class="visite-kaartje">

            <div class="primary-info">
                <h1>Studies</h1>
                <p>{{ person.nickname }}</p>
            </div>
    </div>  
{% render 'partials/foot.liquid' %}