{% render 'partials/head.liquid' %}

    <div class="visite-kaartje">

            <div class="primary-info">
                <h1>Vacay</h1>
                <p>{{ person.nickname }}</p>
            </div>


            <p class="vacay-bestemming">{{ person.custom.vakantie_bestemming }}</p>
  
    </div>
{% render 'partials/foot.liquid' %}